<!DOCTYPE html>
<html ng-app="postmanPanel">
  <head>
    <meta charset="UTF-8" />
    <title>MobilePost</title>
    <script src="{{ asset('assets/node_modules/angular/angular.js') }}"></script>
    <script src="{{ asset('assets/js/app.js') }}"></script>
    <script src="{{ asset('assets/node_modules/angular-route/angular-route.js') }}"></script>
    <script src="{{ asset('assets/node_modules/angular-resource/angular-resource.js') }}"></script>
    <script src="{{ asset('assets/js/controllers.js') }}"></script>
    <script src="{{ asset('assets/js/services.js') }}"></script>
    <script src="{{ asset('assets/js/directives.js') }}"></script>
  </head>
  <body>
    <div ng-view></div>
  </body>
</html>